# `Python Package Index <https://en.wikipedia.org/wiki/Python_Package_Index>`_
# requirements for python3
#
# to install, use
# pip install -r {this_file_path}

# Production runtime requirements
# ===============================

-r requirements-pip.txt

# test
# ====

pytest==3.0.2

# Integrating with setuptools / python setup.py test / pytest-runner
pytest-runner==2.6.2
pytest-sugar==0.5.1 #  progressbar, show tests that fail instantly
sh==1.11 # linux bash wrapper


# interactive command line fro debugging
# ======================================

bpython==0.14.2

# Documentation
# =============

Sphinx==1.3.3

# Code smell
# ==========

pylint==1.5.2

# This package expose pylint as a lint command into setup.py
setuptools-lint==0.4.1

pyenchant==1.6.6 # spelling for pylint

# Coverage
# ========

pytest-cov==2.2.0
coverage==4.0.3

# Publish
# =======
twine==1.12.1


