# `Python Package Index <https://en.wikipedia.org/wiki/Python_Package_Index>`_
# requirements for python3
#
# to install, use
# pip install -r {this_file_path}

# because it raise undesirable exception install latest directly from repo
# https://github.com/lxml/lxml/pull/172#issuecomment-169285414
#html5lib # TODO check if it is fixed
html5lib==0.999999999
# git+https://github.com/html5lib/html5lib-python.git@46dae3d9f471468da5890803e80115db246ea6b6#egg=html5lib


lxml==3.5.0 # xml like document parsing
cssselect==0.9.1 # enable css selector feature in xml

pyparsing==2.0.7 # ciur grammar rule parser builder

python-dateutil==2.4.2 # parse datetime from different string formats



# http client lib to fetch documents by url
# http://stackoverflow.com/questions/29099404/
# ssl-insecureplatform-error-when-using-requests-package
requests[security]==2.9.1
