html5lib
lxml
pyparsing
python-dateutil
pdfminer # convert pdf to tag (“Tagged PDF” xml like format)
requests[security] # http://stackoverflow.com/questions/29099404/ssl-insecureplatform-error-when-using-requests-package
