# Runtime requirements
-r requirements-pip.txt

# test
pytest

# interactive command line fro debugging
bpython

# Documentation
Sphinx

# Code smell
pylint
pyenchant # spelling

# Coverage
pytest-cov
coverage
