# `Advanced Packaging Tool <https://en.wikipedia.org/wiki/Advanced_Packaging_Tool>`_
# requirements
#
# to install, use
# sudo apt-get install -y --force-yes $(cat {this_file_path} | grep -oP "^[^#\s]+")

python-pip
libxml2-dev
libxslt1-dev
python-dev
cython # for lxml
zlib1g-dev
git # for vcs (code repository)

python3-dev # if using python 3

libffi-dev # bpython

